.projects__header {
    margin: var(--margin-24px);
    text-align: center;
}

.projects__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.projects__container img {
    border-radius: var(--default-radius);
    max-width: 80%;
}
