.about p {
    margin: 3.5rem 0;
}

.about img {
    border-radius: var(--image-radius);
    max-height: 640px;
    width: 500px;
}

@media (max-width: 1024px) {
    .about {
        align-items: center;
        flex-direction: column-reverse;
    }
    .about h2,
    .about h3 {
        text-align: center;
    }
    .about img {
        width: 80%;
    }
}

@media (max-width: 461px) {
    .about p {
        margin: 2.5rem 0;
    }
}
