.project__container {
    border-radius: var(--default-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}
.project__container:hover {
    scale: 1.03
}
.project__container a {
    padding: 0;
}

.project__container button {
    background-color: var(--color-blue);
    border: none;
    color: var(--background-white);
    margin: 0 15px;
    padding: 0.5rem 1.5rem;
    transition: var(--transition);
}

.project__container button:hover {
    scale: 1.1;
}

@media (min-width: 1024px) {
    .project__content {
        grid-template-columns: 40% 60%;
        grid-template-areas:
            'img title'
            'img desc'
            'img stack'
            'img links';
    }
    .project__content img {
        align-self: center;
        grid-area: img;
    }
}
