.message__submit:hover {
    box-shadow: var(--box-shadow);
}

.contact__alternatives a {
    color: var(--main-color);
    display: inline-block;
    font-size: 3rem;
    padding: 0;
    text-align: center;
    transition: var(--transition);
}

.contact__alternatives a:hover {
    rotate: 360deg;
    scale: 1.2;
}

.contact__alternatives a:first-of-type:hover {
    color: #0077b5;
}
