
.header__container{
    min-height: 100vh;
    background: var(--main-background);
    background: var(--main-gradient);;
    padding: 168px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__container h1,.header__container h3,.header__container p {
    color: var(--main-color);
    padding: 0 168px;
}
.header__container p {
    padding-top: 50px;
}

.header__container h3:after {
    display: none;
}

.header__scroll {
    position: absolute;
    bottom: 10%;
    right: -1%;
    rotate: 90deg;
    font-size: 1.5rem;
    animation: scrollD 8s infinite 2s;
}

.header__scroll::after {
    content: '';
    border: solid var(--main-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    margin: 0 4px;
    rotate: -45deg;
}

.header__noAnim {
    animation: none
}
   

@media (max-width: 768px) {
    .header__container h1,.header__container h3,.header__container p {
        padding: 0 24px;
    }
    .header__container p {
        padding-top: 16px;
    }
    .header__scroll {
        font-size: 1rem;
    }
    .header__scroll::after {
        padding: 2.5px;
    }
}

@keyframes scrollD {
    20% {translate: 0 75px }
    40% {translate: 0 0;}
}


