.header__container {
    display: flex;
    align-items: center;
    position: relative;
}

.header__text {
    width: 50%;
    color: #2783ff !important;
}
.header__text h1 {
    padding: 0 8rem;
}

.header__photo {
    width: 50%;
}
.header__photo img {
    position: relative;
    z-index: 10;
    width: 80%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
}



.header__scroll {
    animation: scrollDown 8s infinite 2s;
    bottom: 10%;
    font-size: 1rem;
    position: absolute;
    right: -1%;
    rotate: 90deg;
}

.header__scroll::after {
    content: '';
    border: solid var(--main-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin: 0 4px;
    padding: 2.5px;
    rotate: -45deg;
}

.header__noAnim {
    animation: none;
}

@media (max-width: 1024px) {
    .header__container {
        flex-direction: column;
        align-items: center;
    }
    .header__text {
        width: 100%;
        text-align: center;
        color: #2783ff !important;
    }
    .header__photo {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header__container h1
    {
        padding: 0 10px;
    }
    
}

@keyframes scrollDown {
    20% {
        translate: 0 75px;
    }
    40% {
        translate: 0 0;
    }
}
