.nav_container {
    align-items: center;
    background: var(--main-gradient);
    border-radius: 30px;
    bottom: 5%;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 300px;
    z-index: 100;
}

.nav_container a {
    color: black;
    background: none;
    cursor: pointer;
    font-size: 3rem;
    transform: translateY(8%);
    transition: all .5s;
}

.nav_container a:hover,
.nav_container a:focus,
.nav_container a.nav_active{
    color: var(--main-color);
}

@media (max-width: 768px) {
    .nav_container {
        width: 200px;
    }
    .nav_container a {
        font-size: 2rem;
    }
}