@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: var(--secondary-background);
    display: block;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --default-radius: 10px;
    --secondary-background: #ffffff;
    --input-background: #f0f0f0;
    --font-large: 2rem;
    --font-normal: 1.7rem;
    --font-small: 1rem;
    --margin-24px: 2.4rem;
    --main-color: #232325;
    --section-text-color: #555555;
    --transition: all 0.5s;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: var(--default-radius);
    cursor: pointer;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 5rem;
}

h2,
h4 {
    color: var(--section-text-color);
    font-size: 1.5rem;
}

h3,
header span {
    color: var(--main-color);
    font-size: 3rem;
}

h3 {
    display: inline;
    padding-bottom: 0.3rem;
    position: relative;
}

h4 {
    position: relative;
    font-size: 3rem;
}


p {
    font-size: var(--font-normal);
}

.flex__center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column {
    align-items: center;
    flex-direction: column;
}

section {
    color: var(--section-text-color);
    margin: 16rem 0;
}

footer p {
    color: var(--main-color);
    font-size: var(--font-small);
    padding: 8rem 0 2.2rem 0;
    text-align: center;
}

textarea,
input {
    background: #f9fafb;
    border-radius: var(--default-radius);
    border: 1px solid #e2e2e2;
    color: var(--section-text-color);
    font-size: var(--font-normal);
    margin-bottom: 1rem;
    padding: 1rem;
    width: 80%;
}

textarea {
    height: 100px;
    resize: none;
}

img {
    display: block;
    object-fit: cover;
}

.icon {
    translate: 0 2px;
}

@media (max-width: 1024px) {
   /* :root {
    --font-large: calc(var(--font-large) * 0.75);
    --font-normal: calc(var(--font-normal) * 0.95);
    --font-small: calc(var(--font-small) * 0.75);
   } */

    h1 {
        font-size: 4rem;
    }

    section {
        margin-top: 10rem;
    }

    textarea,
    input {
        width: 100%;
    }
}

@media (max-width: 460px) {

    section {
        margin-top: 8rem !important;
    }
    h1 {
        font-size: 3rem;
    }
}


