@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #f4f7f6;
    display: block;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --default-radius: 10px;
    --font-header: 2rem;
    --font-normal: 1.7rem;
    --font-small: 1rem;
    --main-background: rgb(231, 158, 143);
    --main-color: #f4f7f6;
    --main-gradient: linear-gradient(117deg, rgba(231, 158, 143, 1) 0%, rgba(218, 162, 118, 1) 57%, rgba(194, 101, 139, 1) 100%);
    --margin-24px: 2.4rem;
    --secondary-color: #232325;
    --section-text-color: #555555;
    --transition: all 0.5s;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

button {
    border-radius: var(--default-radius);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    color: var(--section-text-color);
    font-size: 1.5rem;
}

h3 {
    color: var(--secondary-color);
    font-size: 3.5rem;
}

h3 {
    display: inline;
    padding-bottom: 0.3rem;
    position: relative;
}

h3::after {
    background-color: var(--main-background);
    bottom: 0;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

p {
    font-size: var(--font-normal);
}

.flex__center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column {
    align-items: center;
    flex-direction: column;
}

section {
    color: var(--section-text-color);
    margin: 20rem 0;
}

textarea, input {
    background: #f0f0f0;
    border-radius: var(--default-radius);
    border: 1px solid #e2e2e2;
    color: var(--section-text-color);
    font-size: var(--font-normal);
    margin-bottom: 1rem;
    padding: 1rem;
    width: 80%;
}

textarea {
    height: 100px;
    resize: none;
}

img {
    display: block;
    object-fit: cover;
}

@media (max-width: 1024px) {
    section {
        margin-top: 10rem;
    }
    textarea, input {
        width: 100%;
    }
}

@media (max-width: 400px) {
    section {
        margin-top: 8rem !important;
    }
}

